extends ../layout
block stylesheets
    link(rel='stylesheet', href="/stylesheets/dominators.css")
block scripts
    script(src="/javascripts/d3.js")
    script(src="/javascripts/dominatorgraph.js")
block content
    h1 #{title}: Dominator graph